header{
    background-color: dimgrey;
    color: white;
    padding: 15px;
}

.con{
    margin-left: 155px;
}
.line {
    padding: 10px;
    border-bottom: 1px solid #dddbdb;
}
.mark {
    background-color: darkcyan;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 8px;
}

.tasksinlist{
    border-bottom: 1px solid #dddbdb;
    border-top: 1px solid #dddbdb;
    padding: 6px;
    width: 1000px;
}

.addtask{
    border: 0;
    border-radius: 4px;
    padding:7px;
    color: white;
    background-color:#2ac9ff;
    margin-top: 17px;
}

td{
    line-height: 3;
    border-bottom: 1px solid #dddbdb;
    width: 200px;
}

.inorcompleted{
    background-color: orange;
    border: 0;
    border-radius: 3px;
    padding: 8px;
}

.delete{
    background-color: red;
    color: white;
    border: 0;
    border-radius: 3px;
    padding: 8px;
}